extends ./navigation.jade
block body    
  body(onload='CreateTableFromJSON()')
    .container-fluid
      .row
        .col-md-3
        .col-md-9
          #showData.table.table-bordered.table-hover.table-responsive