.nivel {
    background-color: #025E75;
}

.btn.btn-link {
    color: white;
}

.materia {
    background-color:  #047C8D;
}

.btn.btn-primary {
    background-color:  #63B2C1;
}

.btn.btn-link:hover {
    text-decoration: none;
}

i {
    color: white;
}
