#barraBusqueda {
  background-image: url('/images/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#tablaCarreras {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#tablaCarreras th, #tablaCarreras td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#tablaCarreras tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd; 
}

#tablaCarreras td {
  background-color : white;
}

#tablaCarreras tr.header, #tablaCarreras tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

body::after {
  content: "";
  background: url("/images/pocket.jpg") no-repeat center fixed rgba(0, 0, 0, 0.089);
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

h3 {
  padding-top: 10%;
  padding-bottom: 5%; 
  color: black;
}

#nombreCarrera {
  width:70%;
}

#codigoCarrera {
  width:30%;
}